.proceeds-modal {
    padding: 10px;
    border-radius: 9px;
    position: absolute;
    left: 0;
right: 0;
top:10%;
text-align: center;
    text-align: center;
    width: 30%;
    margin-left: auto;
margin-right: auto;
    height: auto;
    background-color: white;
    border: 1px solid #ddd;
    box-shadow: 0.2px 0.6px 0.5px 0.5px;
    z-index: 1;
  }
  
  .openModal:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    content: '';
  }